<h1>Settings</h1>

<tabs>
  <tab title="Callbook" active="true">
    <h4>HamQTH</h4>
    <div class="form-group">
      <label for="hamqth-username">Username</label>
      <input type="text" id="hamqth-username" [(ngModel)]="config.hamqth.user" />
    </div>
    <div class="form-group">
      <label for="hamqth-password">Password</label>
      <input type="password" id="hamqth-password" [(ngModel)]="config.hamqth.password" />
    </div>
  </tab>

  <tab title="DX Cluster">
    <div class="form-group">
      <label for="cluster-host">Host</label>
      <input type="text" id="cluster-host" [(ngModel)]="config.cluster.host" />
    </div>
    <div class="form-group">
      <label for="cluster-port">Port</label>
      <input type="number" step="1" min="1" max="65535" id="cluster-port"
        [(ngModel)]="config.cluster.port" />
    </div>
    <div class="form-group">
      <label for="cluster-user">User</label>
      <input type="text" id="cluster-user" [(ngModel)]="config.cluster.user" />
    </div>
  </tab>

  <tab title="Database">
    <div>
      <div class="form-group">
        <label for="db-host">Host</label>
        <input type="text" id="db-host" [(ngModel)]="config.database.host" />
      </div>
      <div class="form-group">
        <label for="db-port">Port</label>
        <input type="number" step="1" min="1" max="65535" id="db-port"
          [(ngModel)]="config.database.port" />
      </div>
      <div class="form-group">
        <label for="db-protocol">Protocol</label>
        <input type="text" id="db-protocol" [(ngModel)]="config.database.protocol" />
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="db-name">Name</label>
        <input type="text" id="db-name" [(ngModel)]="config.database.name" />
      </div>
      <div class="form-group">
        <label for="db-user">User</label>
        <input type="text" id="db-user" [(ngModel)]="config.database.user" />
      </div>
      <div class="form-group">
        <label for="db-password">Password</label>
        <input type="password" id="db-password" [(ngModel)]="config.database.password" />
      </div>
    </div>
  </tab>
  <tab title="Sync">
    <div class="form-group">
      <label for="sync-user">User</label>
      <input type="text" id="sync-user" [(ngModel)]="config.sync.user" />
    </div>
    <div class="form-group">
      <label for="sync-password">Password</label>
      <input type="password" id="sync-password" [(ngModel)]="config.sync.password" />
    </div>
    <div class="form-group">
      <label for="sync-key">Access Key</label>
      <input type="text" id="sync-key" [(ngModel)]="config.sync.key" />
    </div>
  </tab>
  <tab title="WSJT">
    <div>
      <div class="form-group">
        <label for="wsjt-port">Port</label>
        <input type="number" step="1" min="1" max="65535"  id="wsjt-port" [(ngModel)]="config.wsjt.port" />
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="wsjt-forward-host">Forward Host</label>
        <input type="text" id="wsjt-forward-host" [(ngModel)]="config.wsjt.forward_host" />
      </div>
      <div class="form-group">
        <label for="wsjt-forward-port">Forward Port</label>
        <input type="number" step="1" min="1" max="65535"  id="wsjt-forward-port" [(ngModel)]="config.wsjt.forward_port" />
      </div>
    </div>
  </tab>
</tabs>

<div class="box-transparent">
  <div class="box-content">
    <button (click)="save()" class="btn-primary">
      <i class="fa fa-check"></i> Save
    </button>
  </div>
</div>
