[submodule "webapp/images/map"]
	path = webapp/images/map
	url = https://github.com/7h0ma5/CloudShack-MapTiles
[submodule "webapp/images/flags"]
	path = webapp/images/flags
	url = https://github.com/7h0ma5/CloudShack-Flags
