<h1>Edit contact with <b>{{contact.call}}</b></h1>

<tabs>
  <tab title="General">
    <div class="form-row">
      <div class="form-group">
        <label for="call">Callsign</label>
        <input type="text" id="call" class="input-callsign"
               ng-model="contact.call" uppercase>
      </div>

      <div class="form-group">
        <label for="rst-rcvd">RST Rcvd</label>
        <input type="text" id="rst-rcvd"  class="input-rst"
               ng-model="contact.rst_rcvd">
      </div>

      <div class="form-group">
        <label for="rst-sent">RST Sent</label>
        <input type="text" id="rst-sent" class="input-rst"
               ng-model="contact.rst_sent">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="freq">Freq</label>
        <div class="input-group">
          <input type="number" min="0.0" max="100000.0"
                 step="0.001" ng-model="contact.freq" id="freq">
          <span class="input-addon">
            MHz
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="band">Band</label>
        <div class="input-group">
          <input type="text" id="band" class="input-band"
                 ng-model="contact.band">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="mode">Mode</label>
        <input type="text" id="mode" class="input-mode"
               ng-model="contact.mode">
      </div>

      <div class="form-group">
        <label for="submode">Submode</label>
        <input type="text" id="submode" class="input-mode"
              ng-model="contact.submode">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="start">Start</label>
        <input type="datetime-local" step="1" ng-model="startDate"
               id="start" ng-model-options="{timezone: 'UTC'}" required>
      </div>
      <div class="form-group">
        <label for="end">End</label>
        <input type="datetime-local" step="1" ng-model="endDate"
               id="start" ng-model-options="{timezone: 'UTC'}" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" id="comment" class="input-comment"
               ng-model="contact.comment">
      </div>
    </div>
  </tab>

  <tab title="Contact">
    <div class="form-row">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" ng-model="contact.name">
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <div class="input-group">
          <input type="number" min="1" max="150" step="1"
                 ng-model="contact.age" id="age" class="input-age">
          <span class="input-addon">
            Years
          </span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" ng-model="contact.address">
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" name="email" id="email" ng-model="contact.email">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="rig">Rig</label>
        <input type="text" name="rig" id="rig" ng-mode="contact.rig">
      </div>
    </div>
  </tab>

  <tab title="Location">
    <div class="form-row">
      <div class="form-group">
        <label for="qth">QTH</label>
        <input type="text" id="qth" ng-model="contact.qth">
      </div>

      <div class="form-group">
        <label for="gridsquare">Gridsquare</label>
        <input type="text" id="gridsquare" class="input-gridsquare"
               ng-model="contact.gridsquare">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" ng-model="contact.country" id="country">
      </div>

      <div class="form-group">
        <label for="dxcc">DXCC</label>
        <input type="number" id="dxcc" class="input-dxcc"
               ng-model="contact.dxcc" start="1" step="1">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="cont">Continent</label>
        <input type="text" id="cont" class="input-cont" ng-model="contact.cont"
               uppercase>
      </div>

      <div class="form-group">
        <label for="cqz">CQ Zone</label>
        <input class="input-zone" type="number" id="cqz"
               ng-model="contact.cqz" min="1" max="40" step="1">
      </div>

      <div class="form-group">
        <label for="ituz">ITU Zone</label>
        <input class="input-zone" type="number" id="ituz"
               ng-model="contact.ituz" min="1" max="90" step="1">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="lat">Latitude</label>
        <input type="text" id="lat" ng-model="contact.lat">
      </div>

      <div class="form-group">
        <label for="lon">Longitude</label>
        <input type="text" id="lon" ng-model="contact.lon">
      </div>
    </div>
  </tab>

  <tab title="Contest">
    <div class="form-row">
      <div class="form-group">
        <label for="contest_id">Contest ID</label>
        <input type="text" id="contest_id" ng-model="contact.contest_id">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="srx"># rcvd</label>
        <input type="number" id="srx" class="input-contest-serial"
               ng-model="contact.srx" step="1">
      </div>
      <div class="form-group">
        <label for="srx_string">Exchange rcvd</label>
        <input type="text" id="srx_string" ng-model="contact.srx_string">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="stx"># sent</label>
        <input type="number" id="stx" class="input-contest-serial"
               ng-model="contact.stx" step="1">
      </div>
      <div class="form-group">
        <label for="stx_string">Exchange sent</label>
        <input type="text" id="stx_string" ng-model="contact.stx_string">
      </div>
    </div>
  </tab>

  <tab title="QSL">
    <div class="form-row">
      <div class="form-group">
        <label for="qsl_via">QSL via</label>
        <input type="text" id="qsl_via" ng-model="contact.qsl_via">
      </div>
    </div>

    <h3>QSL card</h3>

    <div class="form-row">
      <div class="form-group">
        <label for="qsl_sent">QSL sent</label>
        <input type="text" id="qsl_sent" class="input-qsl-status"
               ng-model="contact.qsl_sent">
      </div>
      <div class="form-group">
        <label for="qsl_sent_via">QSL sent via</label>
        <input type="text" id="qsl_sent_via" ng-model="contact.qsl_sent_via">
      </div>
      <div class="form-group">
        <label for="qslsdate">QSL sent date</label>
        <input type="text" id="qslsdate" ng-model="contact.qslsdate">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="qsl_rcvd">QSL rcvd</label>
        <input type="text" id="qsl_rcvd" class="input-qsl-status"
               ng-model="contact.qsl_received">
      </div>
      <div class="form-group">
        <label for="qsl_rcvd_via">QSL received via</label>
        <input type="text" id="qsl_rcvd_via" ng-model="qslrvia">
      </div>
      <div class="form-group">
        <label for="qslrdate">QSL received date</label>
        <input type="text" id="qslrdate" ng-model="contact.qslrdate">
      </div>
    </div>

    <h3>LotW</h3>

    <div class="form-row">
      <div class="form-group">
        <label for="lotw_qsl_sent">QSL sent</label>
        <input type="text" id="lotw_qsl_sent" class="input-qsl-status"
               ng-model="contact.lotw_sent">
      </div>
      <div class="form-group">
        <label for="lotw_qslsdate">QSL sent date</label>
        <input type="text" id="lotw_qslsdate" ng-model="contact.lotw_qslsdate">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="lotw_qsl_rcvd">QSL rcvd</label>
        <input type="text" id="lotw_qsl_rcvd" class="input-qsl-status"
               ng-model="contact.lotw_qsl_rcvd">
      </div>
      <div class="form-group">
        <label for="lotw_qslrdate">QSL received date</label>
        <input type="text" id="lotw_qslrdate" ng-model="contact.qslradate">
      </div>
    </div>
  </tab>

  <tab title="Propagation">
    <div class="form-row">
      <div class="form-group">
        <label for="prop_mode">Propagation mode</label>
        <input type="text" id="prop_mode" ng-model="contact.prop_mode">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="sfi">SFI</label>
        <input type="number" id="sfi" class="input-sun-index"
               ng-model="contact.sfi" min="0" step="1">
      </div>
      <div class="form-group">
        <label for="a_index">A index</label>
        <input type="number" id="a_index" class="input-sun-index"
               ng-model="contact.a_index" min="0" step="1">
      </div>
      <div class="form-group">
        <label for="k_index">K index</label>
        <input type="number" id="k_index" class="input-sun-index"
               ng-model="contact.k_index" min="0" step="1">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="sat_mode">Satellite mode</label>
        <input type="text" id="sat_mode" ng-model="contact.sat_mode">
      </div>
      <div class="form-group">
        <label for="sat_name">Satellite name</label>
        <input type="text" id="sat_name" ng-model="contact.sat_name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="ms_shower">Meteor Shower</label>
        <input type="text" id="ms_shower" ng-model="contact.ms_shower">
      </div>
      <div class="form-group">
        <label for="nr_bursts"># Bursts</label>
        <input type="number" id="nr_bursts" class="input-nr-bursts"
               ng-model="contact.nr_bursts" min="0" step="1">
      </div>
      <div class="form-group">
        <label for="nr_pings"># Pings</label>
        <input type="number" id="nr_pings" class="input-nr-pings"
               ng-model="contact.nr_pings" min="0" step="1">
      </div>
      <div class="form-group">
        <label for="max_bursts">Max Bursts</label>
        <input type="number" id="max_bursts" class="input-max-bursts"
               ng-model="contact.max_bursts" min="0" step="1">
      </div>
    </div>
  </tab>

  <tab title="My Station">
    <div class="form-row">
      <div class="form-group">
        <label for="operator">Operator</label>
        <input type="text" id="operator" ng-model="contact.operator">
      </div>

      <div class="form-group">
        <label for="station_call">Station Callsign</label>
        <input type="text" id="station_callsign"
               ng-model="contact.station_callsign">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="my_rig">Rig</label>
        <input type="text" id="my_rig" ng-model="contact.my_rig">
      </div>

      <div class="form-group">
        <label for="tx_pwr">Power</label>
        <input class="input-power" type="number" id="tx_pwr"
               ng-model="contact.tx_pwr">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="my_gridsquare">Gridsquare</label>
        <input type="text" id="my_gridsquare" class="input-gridsquare"
               ng-model="contact.my_gridsquare">
      </div>
    </div>
  </tab>
</tabs>

<div class="box-transparent">
  <div class="box-content">
    <button ng-click="save()" class="btn-primary">
      <i class="fa fa-check"></i> Save
    </button>
    <button ng-click="discard()" class="btn-danger">
      <i class="fa fa-times"></i> Discard
    </button>
    <button ng-click="queryCallbook()">
      <i class="fa fa-download"></i> Query Callbook
    </button>
  </div>
</div>
