<h1>Logbook</h1>

<a href="/contacts.adi" download="logbook.adi">Export .adi</a>

<p>
<input type="file" value="Choose file">
<button ng-click="import('adi')">Import</button>
</p>
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Callsign</th>
    <th>Name</th>
    <th>Mode</th>
    <th>Frequency</th>
  </tr>
  <tr ng-repeat="contact in contacts.rows">
    <td>{{contact.value.start|date:"dd.MM.yyyy"}}</td>
    <td>{{contact.value.start|date:"HH:mm"}}</td>
    <td><b>{{contact.value.call}}</b></td>
    <td>{{contact.value.name}}</td>
    <td>{{contact.value.mode}}</td>
    <td>{{contact.value.freq}}</td>
    <td><a ng-click="edit($index)"><i class="fa fa-pencil fg-lg"></i></a></td>
    <td><a ng-click="delete($index)"><i class="fa fa-trash-o fg-lg"></i></a></td>
  </tr>
</table>
