<h1>Import</h1>

<tabs>
  <tab title="File">
    <p>
      <input type="file" ngf-select ngf-change="fileSelected($files, $event)">
    </p>

    <p>
      <input type="checkbox" ngModel="dateRange"> Date Range:
      <input type="datetime-local" ngModel="start" ngDisabled="!dateRange"
             ngModel-options="{timezone: 'UTC'}">
      <input type="datetime-local" ngModel="end" ngDisabled="!dateRange"
             ngModel-options="{timezone: 'UTC'}">
    </p>

    <p>
      <input type="checkbox" ngModel="dxcc"> Update DXCC
    </p>

    <p>
      Apply profile:
      <select ngModel="profile" ngOptions="p.id as p.doc.name for p in profiles.rows">
        <option></option>
      </select>
    </p>

    <p>
      <button class="btn-primary" ngClick="import()" ngDisabled="!file || loading">
        Import
      </button>
      <spinner ngShow="loading"></spinner>
    </p>
  </tab>
  <tab title="LotW">
    <p>
      Import all LotW confirmations:
    </p>
    <p>
      <button class="btn-primary" ngClick="importLotw()">
        Import
      </button>
      <spinner ngShow="loading"></spinner>
    </p>
    <div ngShow="lotwResult">
      <p>
        Updated <b>{{lotwResult.updates}}</b> contacts.
      </p>
      <p ngShow="lotwResult.fails">Failed matches:
        <ul>
          <li ngRepeat="call in lotwResult.fails track by $index">
            {{call}}
          </li>
        </ul>
      </p>
    </div>
  </tab>
</tabs>
