<header>
  <div class="sidebar-toggle-button">
    <a ng-click="toggleSidebar = toggleSidebar ? false : true">
      <i class="fa fa-bars fa-2x"></i>
    </a>
  </div>
  <div class="ticker" ng-controller="TickerCtrl">
    <div class="ticker-text" ng-show="show">
      <i class="fa fa-globe fa-lg"></i>
      <b>{spot.dxcall}</b> on
      {spot.freq|number:3} by
      {spot.spotter}
    </div>
  </div>
  <div dropdown class="profile-select" ng-controller="ProfileSelectCtrl">
    <a dropdown-toggle>
      <span ng-if="activeProfile">{activeProfile.name}</span>
      <span ng-if="!activeProfile">No Profile</span>&nbsp;
      <i class="fa fa-angle-down"></i>
    </a>
    <ul>
      <li ng-repeat="profile in profiles.rows">
        <a ng-click="edit($index)"><i class="fa fa-pencil fg-lg"></i></a>
        <a ng-click="activate($index)">{profile.doc.name}</a>
      </li>
      <li>
        <a href="/#/profile/new">
          <i a class="fa fa-plus fa-lg"></i> New Profile
        </a>
      </li>
    </ul>
  </div>
</header>

<aside>
  <div class="brand">
    <h1><a href="/#/">CloudShack</a></h1>
  </div>

  <clock></clock>

  <div class="status-select" ng-controller="StatusCtrl">
    <div class="status-icon">
      <i class="fa fa-2x" ng-class="{'fa-wifi': onAir, 'fa-moon-o': !onAir}"></i>
    </div>
    <div class="status-text">
      <div class="status-operator" ng-if="activeProfile.operator">
        {activeProfile.operator}
      </div>
      <div class="status-message" ng-click="toggle()">
        {status}
      </div>
    </div>
  </div>

  <nav nav-menu>
    <ul>
      <li><a [router-link]="['/Home']"><i class="fa fa-home"></i> Home</a></li>
      <li><a [router-link]="['/Logbook']"><i class="fa fa-book"></i> Logbook</a></li>
      <li><a [router-link]="['/NewContact']"><i class="fa fa-plus"></i> New Contact</a></li>
      <li><a [router-link]="['/Cluster']"><i class="fa fa-globe"></i> DX Cluster</a></li>
      <li><a [router-link]="['/Import']"><i class="fa fa-cloud-upload"></i> Import</a></li>
      <li><a [router-link]="['/Export']"><i class="fa fa-cloud-download"></i> Export</a></li>
      <li><a [router-link]="['/Settings']"><i class="fa fa-wrench"></i> Settings</a></li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    Version <b>{version}</b>
  </div>
</aside>

<div class="page-wrapper">
  <div class="page">
    <div ng-controller="FlashCtrl">
      <div class="flash" ng-show="show">
        <span class="flash-{message.level}">{message.text}</span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
