<header>
  <div class="sidebar-toggle-button">
    <a ng-click="toggleSidebar = toggleSidebar ? false : true">
      <i class="fa fa-bars fa-2x"></i>
    </a>
  </div>
  <div class="ticker" ng-controller="TickerCtrl">
    <div class="ticker-text" *ng-if="show">
      <i class="fa fa-globe fa-lg"></i>
      <b>{spot.dxcall}</b> on
      {spot.freq|number:3} by
      {spot.spotter}
    </div>
  </div>
  <profile-select></profile-select>
</header>

<aside>
  <div class="brand">
    <h1><a href="/#/">CloudShack</a></h1>
  </div>

  <clock></clock>
  <status-select></status-select>

  <nav nav-menu>
    <ul>
      <li><a [router-link]="['/Home']"><i class="fa fa-home"></i> Home</a></li>
      <li><a [router-link]="['/Logbook']"><i class="fa fa-book"></i> Logbook</a></li>
      <li><a [router-link]="['/NewContact']"><i class="fa fa-plus"></i> New Contact</a></li>
      <li><a [router-link]="['/Cluster']"><i class="fa fa-globe"></i> DX Cluster</a></li>
      <li><a [router-link]="['/Import']"><i class="fa fa-cloud-upload"></i> Import</a></li>
      <li><a [router-link]="['/Export']"><i class="fa fa-cloud-download"></i> Export</a></li>
      <li><a [router-link]="['/Settings']"><i class="fa fa-wrench"></i> Settings</a></li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    Version <b>{{version}}</b>
  </div>
</aside>

<div class="page-wrapper">
  <div class="page">
    <div ng-controller="FlashCtrl">
      <div class="flash" *ng-if="show">
        <span class="flash-{message.level}">{message.text}</span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
