<h1>Logbook</h1>

<div class="box-transparent">
  <div class="box-content">
    <form ng-submit="filterCallsign()">
      <input type="text" placeholder="Callsign" ng-model="callsign" uppercase>
      <input type="submit" class="button" value="Search">
      <button ng-click="resetFilters()">Reset</button>
    </form>
  </div>
</div>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th><!-- Flag --></th>
    <th><!-- Icons --></th>
    <th>Callsign</th>
    <th>Name</th>
    <th>Mode</th>
    <th>Frequency</th>
  </tr>
  <tr ng-repeat="contact in contacts">
    <td>{{contact.doc.start|date:"dd.MM.yyyy":"UTC"}}</td>
    <td>{{contact.doc.start|date:"HH:mm":"UTC"}}</td>
    <td class="flag-cell">
      <img ng-src="/flag/24/{{contact.doc.dxcc}}" />
    </td>
    <td>
        <span ng-show="contact.doc.contest_id" data-tooltip="{{contact.doc.contest_id}}">
            <i style="color: #e67e22;" class="fa fa-trophy"></i>
        </span>
        <span ng-show="contact.doc.lotw_qsl_rcvd == 'Y'" data-tooltip="Confirmed via LotW">
            <i style="color: #27ae60;" class="fa fa-check-circle"></i>
        </span>
    </td>
    <td><b><a ng-href="/#/contact/{{contact.doc._id}}">{{contact.doc.call}}</a></b></td>
    <td>{{contact.doc.name}}</td>
    <td>{{contact.doc.mode}}</td>
    <td>{{contact.doc.freq|number:3}} MHz</td>
  </tr>
</table>

<div class="box-transparent">
  <div class="box-content">
    <button ng-disabled="!hasPrevPage()" ng-click="prevPage()">
      <i class="fa fa-arrow-left"></i>
      Previous Page
    </button>
    <button ng-disabled="!hasNextPage()" ng-click="nextPage()">
      Next Page
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
