<h1>Logbook</h1>

<div class="box-transparent">
  <div class="box-content">
    <form (submit)="filterCallsign(callsign.value)">
      <input type="text" placeholder="Callsign" #callsign uppercase>
      <input type="submit" class="button" value="Search">
      <button (click)="filterCallsign(null); callsign.value = ''">Reset</button>
    </form>
  </div>
</div>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th><!-- Flag --></th>
    <th><!-- Icons --></th>
    <th>Callsign</th>
    <th>Name</th>
    <th>Mode</th>
    <th>Frequency</th>
  </tr>
  <tr *ng-for="#contact of contacts">
    <td><!-- contact.doc.start|date:"dd.MM.yyyy" --> {{contact.doc.start|slice:0:10}}</td>
    <td><!-- contact.doc.start|date:"HH:mm" --> {{contact.doc.start|slice:11:16}}</td>
    <td class="flag-cell">
      <img [src]="'/flag/24/' + contact.doc.dxcc" />
    </td>
    <td>
        <span *ng-if="contact.doc.contest_id" data-tooltip="{contact.doc.contest_id}">
            <i style="color: #e67e22;" class="fa fa-trophy"></i>
        </span>
        <span *ng-if="contact.doc.lotw_qsl_rcvd == 'Y'" data-tooltip="Confirmed via LotW">
            <i style="color: #27ae60;" class="fa fa-check-circle"></i>
        </span>
    </td>
    <td>
      <b>
        <a [router-link]="['/ShowContact', {id: contact.doc._id}]">
          {{contact.doc.call}}
        </a>
      </b>
    </td>
    <td>{{contact.doc.name}}</td>
    <td>{{contact.doc.mode}}</td>
    <td>{{contact.doc.freq|number:'.3-3'}} MHz</td>
  </tr>
</table>

<div class="box-transparent">
  <div class="box-content">
    <button [disabled]="!hasPrevPage()" (click)="prevPage()">
      <i class="fa fa-arrow-left"></i>
      Previous Page
    </button>
    <button [disabled]="!hasNextPage()" (click)="nextPage()">
      Next Page
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
