<h1>Welcome to CloudShack!</h1>

<div class="dashboard">
  <div class="box statistics">
    <div class="box-title">
      <i class="fa fa-globe"></i>
      QSO Statistics
    </div>
    <div class="box-content">
      <div class="column">
        <small>Total</small>
        <div class="value">{{qso_stats.total}}</div>
      </div>
      <div class="column">
        <small>This Year</small>
        <div class="value">{{qso_stats.year}}</div>
      </div>
      <div class="column">
        <small>This Month</small>
        <div class="value">{{qso_stats.month}}</div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>

  <div class="box statistics">
    <div class="box-title">
      Mode Statistics
    </div>
    <table class="box-table">
      <tr *ngFor="let mode of modes">
        <td>{{mode[0]}}</td>
        <td>{{mode[1]}}</td>
      </tr>
    </table>
  </div>
</div>

<p>
  <i class="fa fa-hand-o-right"></i>
  <a *ngIf="qso_stats.total == 0" href="/#/contact/new">
    Log your first contact!
  </a>
  <a *ngIf="qso_stats.total > 0" href="/#/contact/new">
    Log a new contact
  </a>
</p>
