.box {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.26);
}

.box-transparent {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

.box-title {
    padding: 7px 10px;
    font-weight: bold;
    color: #fff;
    background-color: @box-title-background;
}

.box-content {
    padding: 10px;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    table {
        max-width: 100%;
    }

    td {
        overflow:hidden;
        white-space:nowrap;
    }
}

.box-table {
    width: 100%;
    margin: 0;
    border: none;
}
