.flash {
    position: fixed;
    top: @header-height + 20px;
    right: 0;
    left: @sidebar-width;
    margin: 0 auto;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    span {
        display: inline-block;
        padding: 8px 20px;
        margin: 0 auto;
        border-radius: 3px;
        opacity: 1;
        box-shadow: 0 0 5px #ccc;
    }

    &.ng-hide-add, &.ng-hide-remove {
        display: block ! important;
        transition: all 0.5s ease;
    }

    &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active {
        opacity: 0;
    }

    &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }
}

.flash-info {
    background-color: #3498db;
}

.flash-success {
    background-color: #2ecc71;
}

.flash-warning {
    background-color: #e67e22;
}

.flash-error {
    background-color: #e74c3c;
}
