input, select {
    display: inline-block;
    padding: 4px;
    margin: 0 0 1px 0;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid @border-color;
    outline: 0 ! important;

    &:focus {
        border-color: #26a0e5;
        padding-bottom: 3px;
        border-bottom-width: 2px;
    }

    &:disabled {
        color: #ccc;
    }
}

select {

}

.form-row {

}

.form-group {
    display: inline-block;
    padding: 2px 2px 25px 2px;

    input-select {
        margin-top: 20px ! important;
    }

    label {
        padding-left: 2px;
        display: block;
        font-size: 0.9em;
        color: #555;
    }
}

.input-group {
    display: inline-table;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid @border-color;
    border-collapse: collapse;

    .input-addon {
        padding: 4px 8px;
        background-color: #f7f7f7;
        border: none;
    }

    input, .input-addon {
        display: table-cell;
        margin: 0;
        border: none;
    }

    a {
        display: inline-block;
        color: @text-color;
    }
}

.input-callsign {
    font-weight: bold;
}

.input-rst {
    width: 4em;
}

.input-zone {
    width: 4em;
}

.input-cont {
    width: 4em;
}

.input-power {
    width: 4em;
}

.input-gridsquare {
    width: 7em;
}

.input-comment {
    width: 30em;
}

.input-mode {
    width: 10em;
}

.input-band {
    width: 4em;
}

.input-dxcc {
    width: 4em;
}

.input-qsl-status {
    width: 4em;
}

.input-contest-serial {
    width: 5em;
}

.input-sun-index,
.input-nr-bursts,
.input-max-bursts,
.input-nr-pings {
    width: 4em;
}
