header {
    position: fixed;
    z-index: 100;
    display: table;
    height: @header-height;
    margin-left: @sidebar-width;
    color: @header-foreground;
    background-color: @header-background;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    transition: margin-left 0.5s ease;
    user-select: none;

    >* {
        display: table-cell;
        white-space: nowrap;
        vertical-align: middle;
    }
}

.sidebar-toggle-button {
    padding: 0 20px;

    a {
        color: @header-foreground;
    }
}

ticker {
    width: 100%;
    padding: 0 20px;
    font-size: 1.5em;
    text-align: center;
}

.ticker-text {
    display: inline-block;
    opacity: 1;
    transition: opacity 1s ease;
}

.ticker-text[hidden] {
    opacity: 0;
}

profile-select {
    position: relative;
    width: 200px;
    padding: 0 25px;
    font-weight: bold;
    text-align: right;

    a {
        color: @header-foreground;
    }

    ul li {
        line-height: 2.5em;
    }

    ul a:hover {
        color: #00a2ff;
    }

    ul {
        position: absolute;
        top: @header-height;
        right: 0;
        z-index: 100;
        display: none;
        padding: 0 10px;
        margin: 0;
        text-align: left;
        list-style: none;
        background-color: @header-background;
        box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.10);
    }

    .dropdown {
        position: static;
    }

    .dropdown.open a[dropdown-toggle] {
        color: #888;
    }

    .dropdown.open > ul {
        display: block;
    }
}
