.tabs {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.tab {
    display: inline-block;
    margin: 0;

    a {
        display: inline-block;
        padding: 8px 15px;
        margin-right: 5px;
        font-weight: bold;
        color: #8e9aa2;
        transition: all 0.1s ease;
    }

    a:hover {
        color: #444;
    }
}

.tab-active a {
    color: inherit;
    cursor: default;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
}

.tab-list {
    padding: 0 1px 0 1px;
    margin: 0;
    list-style: none;
    background-color: @tab-background;
}

.tab-content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid @border-color;
    border-top: none;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
