@header-background: #fff;
@header-foreground: #1b1e24;

@sidebar-background: #2c3e50;
@sidebar-foreground: #ecf0f1;
@sidebar-hover: #42586e;
@sidebar-active: #42586e;
@sidebar-icons: #fff;

@page-background: #e1e4e7;
@text-color: #222;
@link-color: #2574a9;

@header-height: 60px;
@sidebar-width: 200px;

@box-title-background: #8797a7;
@tab-background: @box-title-background;

@tooltip-background: @sidebar-active;
@tooltip-foreground: #fff;

@border-color: #d1dade;
