@header-background: #fff;
@header-foreground: #1b1e24;

@sidebar-background: #2c3e50;
@sidebar-foreground: #ecf0f1;
@sidebar-hover: lighten(@sidebar-background, 8);
@sidebar-active: lighten(@sidebar-background, 8);
@sidebar-icons: #fff;

@page-background: #ecf0f1;
@text-color: #222;
@link-color: #2574a9;

@header-height: 60px;
@sidebar-width: 200px;

@tab-background: #dadfe1;

@tooltip-background: @sidebar-active;
@tooltip-foreground: #fff;

@border-color: #d1dade;
