<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudShack</title>
    <link type="image/png" rel="shortcut icon" href="/images/favicon.png">
    <link type="text/css" rel="stylesheet" href="/css/vendor.css" />
    <link type="text/css" rel="stylesheet" href="/css/app.css" />
    <script src="/js/vendor.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body ng-class="{'toggle-sidebar': toggleSidebar}">
    <header>
      <div class="sidebar-toggle-button">
        <a ng-click="toggleSidebar = toggleSidebar ? false : true">
          <i class="fa fa-bars fa-2x"></i>
        </a>
      </div>
      <div class="ticker" ng-controller="TickerCtrl">
        <div class="ticker-text" ng-show="show">
          <i class="fa fa-globe fa-lg"></i>
          <b>{{spot.dxcall}}</b> on
          {{spot.freq|number:3}} by
          {{spot.spotter}}
        </div>
      </div>
      <div class="profile-select" ng-controller="ProfileSelectCtrl">
        <a>
          <span ng-if="activeProfile">{{activeProfile.name}}</span>
          <span ng-if="!activeProfile">No Profile</span>&nbsp;
          <i class="fa fa-angle-down"></i>
        </a>
        <ul>
          <li ng-repeat="profile in profiles.rows">
            <a ng-click="edit($index)"><i class="fa fa-pencil fg-lg"></i></a> <a ng-click="activate($index)">{{profile.doc.name}}</a>
          </li>
          <li>
            <a href="/#/profile/new">
              <i a class="fa fa-plus fa-lg"></i> New Profile
            </a>
          </li>
        </ul>
      </div>
    </header>

    <aside>
      <div class="brand">
        <h1><a href="/#/">CloudShack</a></h1>
      </div>

      <div class="clock" clock></div>

      <div class="status-select" ng-controller="StatusCtrl">
        <div class="status-icon">
          <i class="fa fa-2x" ng-class="{'fa-wifi': onAir, 'fa-moon-o': !onAir}"></i>
        </div>
        <div class="status-text">
          <div class="status-operator" ng-if="activeProfile.operator">
            {{activeProfile.operator}}
          </div>
          <div class="status-message" ng-click="toggle()">
            {{status}}
          </div>
        </div>
      </div>

      <nav nav-menu>
        <ul>
          <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="/#/logbook"><i class="fa fa-book"></i> Logbook</a></li>
          <li><a href="/#/contact/new"><i class="fa fa-plus"></i> New Contact</a></li>
          <li><a href="/#/cluster"><i class="fa fa-globe"></i> DX Cluster</a></li>
          <li><a href="/#/import"><i class="fa fa-cloud-upload"></i> Import</a></li>
          <li><a href="/#/export"><i class="fa fa-cloud-download"></i> Export</a></li>
          <li><a href="/#/settings"><i class="fa fa-wrench"></i> Settings</a></li>
        </ul>
      </nav>
    </aside>

    <div class="page-wrapper">
      <div class="page">
        <div ng-controller="FlashCtrl">
          <div class="flash" ng-show="show">
            <span class="flash-{{message.level}}">{{message.text}}</span>
          </div>
        </div>
        <div ng-view></div>
      </div>
    </div>
  </body>
</html>
