<h1>DX Cluster</h1>

<table>
  <tr>
    <th>Callsign</th>
    <th><!-- Flag --></th>
    <th>Time</th>
    <th>Spotter</th>
    <th>Frequency</th>
    <th>Comment</th>
  </tr>
  <tr ng-repeat="spot in spots">
    <td><b>{{spot.dxcall}}</b></td>
    <td class="flag">
      <span data-tooltip="{{spot.dxcc.country}}">
        <img src="/flag/24/{{spot.dxcc.dxcc}}" />
      </span>
    </td>
    <td>{{spot.time}}</td>
    <td>{{spot.spotter}}</td>
    <td><a ng-click="tune($index)">{{spot.freq|number:3}}</a></td>
    <td>{{spot.comment}}</td>
  </tr>
</table>
