<h1>Welcome to CloudShack!</h1>

<div class="box statistics" style="width: auto; margin: 1em 0;">
  <div class="box-title">
    <i class="fa fa-globe"></i>
    QSO Statistics
  </div>
  <div class="box-content">
    <div style="float: left; display: inline-block; padding-right: 20px;">
      <small>Total</small>
      <div class="value">{{qso_stats.total}}</div>
    </div>
    <div style="float: left; display: inline-block; padding-right: 20px;">
      <small>This Year</small>
      <div class="value">{{qso_stats.year}}</div>
    </div>
    <div style="float: left; display: inline-block;">
      <small>This Month</small>
      <div class="value">{{qso_stats.month}}</div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>

<p>
  <i class="fa fa-hand-o-right"></i>
  <a ng-if="qso_stats.total == 0" href="/#/contact/new">Log your first contact!</a>
  <a ng-if="qso_stats.total > 0" href="/#/contact/new">Log a new contact</a>
</p>
