<h1>Logbook</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th><!-- Icon --></th>
    <th>Callsign</th>
    <th>Name</th>
    <th>Mode</th>
    <th>Frequency</th>
    <th colspan="2"></th>
  </tr>
  <tr ng-repeat="contact in contacts">
    <td>{{contact.value.start|date:"dd.MM.yyyy"}}</td>
    <td>{{contact.value.start|date:"HH:mm"}}</td>
    <td>
        <span ng-show="contact.value.contest_id">
            <i style="color: #c8ad00;" class="fa fa-trophy" title="{{contact.value.contest_id}}"></i>
        </span>
    </td>
    <td><b>{{contact.value.call}}</b></td>
    <td>{{contact.value.name}}</td>
    <td>{{contact.value.mode}}</td>
    <td>{{contact.value.freq}}</td>
    <td><a ng-click="edit($index)"><i class="fa fa-pencil fg-lg"></i></a></td>
    <td><a ng-click="delete($index)"><i class="fa fa-trash-o fg-lg"></i></a></td>
  </tr>
</table>

<p>
    <button ng-disabled="!hasPrevPage()" ng-click="prevPage()">Previous Page</button>
    <button ng-disabled="!hasNextPage()" ng-click="nextPage()">Next Page</button>
    <span>Page {{page}} of {{total_pages}}</span>
</p>
