<h1>Logbook</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th><!-- Icons --></th>
    <th>Callsign</th>
    <th>Name</th>
    <th>Mode</th>
    <th>Frequency</th>
  </tr>
  <tr ng-repeat="contact in contacts">
    <td>{{contact.value.start|date:"dd.MM.yyyy"}}</td>
    <td>{{contact.value.start|date:"HH:mm"}}</td>
    <td>
        <span ng-show="contact.value.contest_id" data-tooltip="{{contact.value.contest_id}}">
            <i style="color: #e67e22;" class="fa fa-trophy"></i>
        </span>
        <span ng-show="contact.value.lotw_qsl_rcvd == 'Y'" data-tooltip="Confirmed via LoTW">
            <i style="color: #27ae60;" class="fa fa-check-circle"></i>
        </span>
    </td>
    <td><b><a ng-href="/#/contact/{{contact.value._id}}">{{contact.value.call}}</a></b></td>
    <td>{{contact.value.name}}</td>
    <td>{{contact.value.mode}}</td>
    <td>{{contact.value.freq}}</td>
  </tr>
</table>

<p>
    <button ng-disabled="!hasPrevPage()" ng-click="prevPage()">Previous Page</button>
    <button ng-disabled="!hasNextPage()" ng-click="nextPage()">Next Page</button>
    <span>Page {{page}} of {{total_pages}}</span>
</p>
