<h1>Import</h1>

<div class="box">
  <div class="box-content">
    <p>
      <input type="file" (change)="fileChangeEvent($event)" />
    </p>

    <p>
      <input type="checkbox" [(ngModel)]="dateRange"> Date Range:
      <input type="datetime-local" [(ngModel)]="start" [disabled]="!dateRange"> –
      <input type="datetime-local" [(ngModel)]="end" [disabled]="!dateRange">
    </p>

    <p>
      <input type="checkbox" [(ngModel)]="dxcc"> Update DXCC<br>
      <input type="checkbox" [(ngModel)]="profile"> Apply current profile
    </p>

    <p>
      <button class="btn-primary" (click)="import()" [disabled]="!filesToUpload">
        Import
      </button>
    </p>
  </div>
</div>
