<h1>New Contact</h1>

<div class="newcontact">
  <div class="newcontact-main">
    <div class="box">
      <div class="box-content">
        <div class="form-row">
          <div class="form-group">
            <label for="call">Callsign</label>
            <input uppercase type="text" autocomplete="off" id="call"
                   [(ngModel)]="contact.call" class="input-callsign"
                   #callsignInput>
          </div>

          <div class="form-group">
            <label for="rst-rcvd">RST Rcvd</label>
            <input type="text" id="rst-rcvd" autocomplete="off" smartInput
                   placeholder="{{rst}}" [(ngModel)]="contact.rst_rcvd"
                   class="input-rst">
          </div>

          <div class="form-group">
            <label for="rst-sent">RST Sent</label>
            <input type="text" id="rst-sent" autocomplete="off" smartInput
                   placeholder="{{rst}}" [(ngModel)]="contact.rst_sent"
                   class="input-rst">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="contact.name" id="name" smartInput
                   placeholder="{{callbook?.name}}" autocomplete="off">
          </div>

          <div class="form-group">
            <label for="qth">QTH</label>
            <input type="text" [(ngModel)]="contact.qth" id="qth" smartInput
                   placeholder="{{callbook?.qth}}" autocomplete="off">
          </div>

          <div class="form-group">
            <label for="gridsquare">Gridsquare</label>
            <input uppercase type="text" [(ngModel)]="contact.gridsquare" smartInput
                   class="input-gridsquare" id="gridsquare" autocomplete="off"
                   placeholder="{{callbook?.gridsquare}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="freq">Freq</label>
            <div class="input-group">
              <input type="number" min="0.0" max="100000.0" step="0.001"
                     [(ngModel)]="contact.freq" id="freq" autocomplete="off">
              <span class="input-addon">
                MHz
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="mode">Mode</label>
            <select id="mode" [(ngModel)]="contact.mode">
              <option *ngFor="let m of modes" [value]="m.name">{{m.name}}</option>
            </select>
          </div>

          <div class="form-group" *ngIf="submodes">
            <label for="submode">Submode</label>
            <select id="submode" [(ngModel)]="contact.submode">
              <option *ngFor="let m of submodes" [value]="m.name">{{m.name}}<option>
            </select>
          </div>

          <div class="form-group">
            <label for="power">Power</label>
            <div class="input-group">
              <input type="number" min="0" max="2000" step="1" autocomplete="off"
                     [(ngModel)]="contact.tx_pwr" id="power" class="input-power">
              <span class="input-addon">
                W
              </span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="start">Start</label>
            <div class="input-group">
              <input type="datetime-local" [(ngModel)]="startDate" id="start" required>
                <a class="input-addon" (click)="resetStart()">Now</a>
            </div>
          </div>
          <div class="form-group">
            <label for="end">End</label>
            <div class="input-group">
              <input type="datetime-local" [(ngModel)]="endDate"  id="end" required>
              <a class="input-addon" (click)="resetEnd()">Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box" *ngIf="previous">
      <div class="box-title">Previous Contacts ({{previous?.length}})</div>
      <table class="box-table">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Mode</th>
          <th>Freq</th>
        </tr>
        <tr *ngFor="let row of previous">
          <td><!-- row.doc.start|date:"dd.MM.yyyy" --> {{row.doc.start|slice:0:10}}</td>
          <td><!-- row.doc.start|date:"HH:mm" --> {{row.doc.start|slice:11:16}}</td>
          <td>{{row.doc.mode}}</td>
          <td>{{row.doc.freq|number:'.3-3'}}</td>
        </tr>
      </table>
    </div>

    <tabs>
      <tab title="QSL" active="true">
        <div class="form-row">
          <div class="form-group">
            <label for="qsl_via">QSL via: </label>
            <input uppercase type="text" id="qsl_via"
                   [(ngModel)]="contact.qsl_via" autocomplete="off" />
          </div>
          <div class="form-group">
            <label for="qsl_sent">QSL sent: </label>
            <select id="qsl_sent" [(ngModel)]="contact.qsl_sent"
                    ngOptions="o.id as o.name for o in qsl_sent">
              <option value=""></option>
            </select>
          </div>
          <div class="form-group">
            <label for="qsl_rcvd">QSL received: </label>
            <select id="qsl_rcvd" [(ngModel)]="contact.qsl_rcvd"
                    ngOptions="o.id as o.name for o in qsl_rcvd">
              <option value=""></option>
            </select>
          </div>
        </div>
      </tab>

      <tab title="Contact">
        <div class="form-row">
          <div class="form-group">
            <label for="age">Age</label>
            <div class="input-group">
              <input type="number" min="1" max="150" autocomplete="off"
                     step="1" [(ngModel)]="contact.age" id="age" class="input-age">
              <span class="input-addon">
                Years
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text" id="email" [(ngModel)]="contact.email" autocomplete="off">
          </div>

          <div class="form-group">
            <label for="rig">Rig</label>
            <input type="text" id="rig" [(ngModel)]="contact.rig">
          </div>
        </div>
      </tab>

      <tab title="Contest">
        <div class="form-group">
          <label for="contest_id">Contest</label>
          <select id="contest_id" [(ngModel)]="contact.contest_id">
            <option *ngFor="let c of contests" [value]="c.id">{{c.desc}}</option>
          </select>
        </div>
      </tab>

      <tab title="Comment">
          <input type="text" id="comment" class="input-comment"
                 [(ngModel)]="contact.comment">
      </tab>
    </tabs>

    <div class="box-transparent">
      <div class="box-content">
        <button (click)="save()" class="btn-primary">
          <i class="fa fa-check"></i> Save
        </button>
        <button (click)="reset()" class="btn-danger">
          <i class="fa fa-times"></i> Reset
        </button>
        <button (click)="spot()" [disabled]="!contact.call || !contact.freq">
          <i class="fa fa-bullhorn"></i> Spot
        </button>
        <button (click)="qrz()" [disabled]="!contact.call">
          <i class="fa fa-question-circle"></i> QRZ
        </button>
      </div>
    </div>
  </div>

  <div class="newcontact-side">
    <div class="box">
        <div class="box-title">
          <i class="fa fa-circle" [class.green]="state.rig.connected"
                                  [class.red]="!state.rig.connected"></i>
          Radio
        </div>
        <div class="box-content">
          <b>{{state.rig?.freq|number:'.3-3'}} MHz</b>
          {{state.rig?.mode}}
          <div dropdown>
            <button dropdown-toggle>Band</button>
            <ul class="dropdown-menu">
              <li><a ngClick="rig.setFrequency(1.800)">160m</a></li>
              <li><a ngClick="rig.setFrequency(3.5)">80m</a></li>
              <li><a ngClick="rig.setFrequency(7)">40m</a></li>
              <li><a ngClick="rig.setFrequency(10.1)">30m</a></li>
              <li><a ngClick="rig.setFrequency(14)">20m</a></li>
              <li><a ngClick="rig.setFrequency(18.068)">17m</a></li>
              <li><a ngClick="rig.setFrequency(21)">15m</a></li>
              <li><a ngClick="rig.setFrequency(24.89)">12m</a></li>
              <li><a ngClick="rig.setFrequency(28)">10m</a></li>
              <li><a ngClick="rig.setFrequency(50)">6m</a></li>
              <li><a ngClick="rig.setFrequency(144)">2m</a></li>
              <li><a ngClick="rig.setFrequency(430)">70cm</a></li>
            </ul>
          </div>
          <div dropdown>
            <button dropdown-toggle>Mode</button>
            <ul class="dropdown-menu">
              <li><a ngClick="rig.setMode('LSB', 3000)">LSB</a></li>
              <li><a ngClick="rig.setMode('USB', 3000)">USB</a></li>
              <li><a ngClick="rig.setMode('CW', 500)">CW</a></li>
              <li><a ngClick="rig.setMode('FM', 12000)">FM</a></li>
              <li><a ngClick="rig.setMode('AM', 6000)">AM</a></li>
            </ul>
          </div>
        </div>
    </div>

    <div class="box" *ngIf="dxcc">
      <div class="box-title">{{dxcc?.prefix}} &ndash; {{dxcc?.country}} &ndash; {{dxcc?.cont}}</div>
      <div class="box-content">
        <div class="form-row" style="align-items: center;">
          <div class="form-group">
            <label for="cqz">CQ</label>
            <input class="input-zone" type="number" [(ngModel)]="contact.cqz" id="cqz"
                   autocomplete="off" min="1" max="40" step="1">
          </div>

          <div class="form-group">
            <label for="ituz">ITU</label>
            <input class="input-zone" type="number" [(ngModel)]="contact.ituz" id="cqz"
                   autocomplete="off" min="1" max="90" step="1">
          </div>

          <div style="flex: 1">
            <!-- spacing -->
          </div>

          <img [src]="'/flag/64/' + (dxcc ? dxcc.dxcc : '0')" style="margin: -10px 0;">
        </div>
      </div>
    </div>

    <div class="box">
      <div class="box-title">
        <span *ngIf="distance == null">Map</span>
        <span *ngIf="distance != null">
          {{distance}} km / {{bearing}}°
        </span>
      </div>
      <worldmap [maptarget]="maptarget"></worldmap>
    </div>
  </div>
</div>
