@header-background: #20262a;
@header-foreground: #ecf0f1;

@sidebar-background: @header-background;
@sidebar-foreground: @header-foreground;
@sidebar-link-hover: #283035;
@sidebar-link-active: #415160;

@page-background: #f1f1f1;
@text-color: #222;
@link-color: #0680c5;

@header-height: 50px;
@sidebar-width: 180px;

@tooltip-background: @sidebar-link-active;
@tooltip-foreground: #fff;

.user-select(@value) {
    -webkit-user-select: @value;
    -moz-user-select: @value;
    -ms-user-select: @value;
    -o-user-select: @value;
    user-select: @value;
}

body {
    color: @text-color;
    font-family: sans-serif;
}

a {
    outline: 0 ! important;
    cursor: pointer;
    text-decoration: none;
    color: @link-color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    color: @text-color;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

table {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin: 1em 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);

    td, th {
        padding: 5px 10px;
    }

    th {
        border-bottom: 1px solid #e5e5e5;
    }

    tr:nth-child(even) {
       background-color: #f5f5f5;
    }
}

.box {
    border: 1px solid #e5e5e5;
    margin: 1em 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background-color: #fff;

    .title {
        font-weight: bold;
        font-size: 0.8em;
        padding: 7px 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .content {
        padding: 10px;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        table {
            max-width: 100%;
        }

        td {
            overflow:hidden;
            white-space:nowrap;
        }
    }
}

body {
    background-color: @page-background;
    -webkit-font-smoothing: subpixel-antialiased;
}

header {
    position: fixed;
    display: table;
    z-index: 1000;
    background-color: @header-background;
    color: @header-foreground;
    height: @header-height;
    top: 0px;
    width: 100%;
    .user-select(none);

    h1 {
        display: table-cell;
        height: 100%;
        padding: 0 10px;
        vertical-align: middle;
        white-space:nowrap;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .ticker {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        padding: 0 20px;
        font-size: 1.5em;
        width: 100%;
    }

    .ticker-text {
        opacity: 1;

        &.ng-hide-add, &.ng-hide-remove {
            display: block ! important;
            transition: all 1s ease;
        }

        &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active {
            opacity: 0;
        }

        &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
            opacity: 1;
        }
    }

    .profile-select {
        display: table-cell;
        white-space:nowrap;
        height: 100%;
        vertical-align: middle;
        padding: 0 10px;
        font-weight: bold;
        position: relative;
        text-align: right;

        a {
            color: #fff;
        }

        ul {
            text-align: left;
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: @header-background;
            position: absolute;
            top: @header-height;
            right: 0;
            z-index: 100;
        }

        li {
            padding: 10px;
        }

        ul {
            display: none;
            box-shadow: 0 1px 5px rgba(0, 0, 0, .8);
        }

        &:hover ul {
            display: block;
        }
    }
}

aside {
    position: fixed;
    top: @header-height;
    bottom: 0;
    background-color: @sidebar-background;
    width: @sidebar-width;
    .user-select(none);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin: 0;
        padding: 0;
        display: inline;
    }

    ul li i {
        margin-right: 10px;
    }

    ul li a {
        display: block;
        color: @sidebar-foreground;
        padding: 13px 10px 13px 13px;
        text-decoration: none;
        font-weight: bold;
        border-left: 5px solid transparent;
        transition: all 0.3s;

        &:hover {
            background-color: @sidebar-link-hover;
        }

        &.active {
            border-left-color: #fff;
            background-color: @sidebar-link-active;
        }
    }

    .clock {
        background-color: @sidebar-link-active;
        padding: 10px;
        text-align: center;
        color: #fff;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

#page {
    position: absolute;
    top: @header-height;
    left: @sidebar-width;
    bottom: 0;
    right: 0;
    padding: 20px;
    opacity: 1;
    overflow: auto;

    &.ng-enter, &.ng-leave {
        transition: all 0.1s linear;
    }

    &.ng-enter, &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
        opacity: 1;
    }
}

input, select {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 ! importpant;
    padding: 4px ! important;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    outline: 0 ! important;
    transition: all 0.2s;

    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                          0 0 8px rgba(38, 160, 229, 0.6);
        border-color: #26a0e5;
    }
}

.form-row {
    margin: 1em 0;
}

.form-group {
    display: inline-block;
    margin-right: 10px;

    label {
        display: block;
        font-size: 0.9em;
    }
}

.input-group {
    display: inline-table;
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    margin: 0;

    .input-addon {
        border: none;
        padding: 4px 8px;
    }

    input, .input-addon {
        display: table-cell;
        border: none;
        margin: 0;
    }

    a {
        display: inline-block;
        color: @text-color;
    }
}

button, .btn {
    border: 1px solid #ccc;
    background-color: #f7f7f7; //#aab2bd;
    color: @text-color;
    outline: 0 ! important;
    padding: 4px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .08);

    &:hover {
        border-color: #999;
        background-color: #fafafa;
    }

    &:active {
        background-color: #eee;
        border-color: #999;
        box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    }

    &:disabled {
        color: #aaa ! important;
        border-color: #ddd ! important;
        background-color: #f7f7f7 ! important;
    }

    &.primary, &.danger {
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    &.primary {
        border-color: #2b9fca ! important;
        background-color: #3bafda;

        &:hover {
            background-color: #4bbfea;
        }

        &:active {
            background-color: #2b9fca;
        }
    }

    &.danger {
        border-color: #ca3443 ! important;
        background-color: #da4453;

        &:hover {
            background-color: #ed5565;
        }

        &:active {
            background-color: #ca3443;
        }
    }
}

.tabs {
    display: block;

    > ul {
        display: inline-block;
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #ddd;

        li {
            display: inline-block;
            margin: 0;
            margin-bottom: -1px;

            a {
                display: inline-block;
                padding: 8px 15px;
                margin-right: 5px;
                border: 1px solid transparent;
            }

            a:hover {
                background-color: #ddd;
            }

            &.active a {
                cursor: default;
                color: inherit;
                border-color: #ddd #ddd @page-background;

                &:hover {
                    background-color: inherit;
                }
            }
        }
    }

    > div {
        padding: 5px 0;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
}

[data-tooltip] {
    position: relative;
	z-index: 2;

    &:before, &:after {
        visibility: hidden;
	    opacity: 0;
        transition: all 0.3s;
        pointer-events: none;
    }

    &:before {
    	position: absolute;
    	bottom: 120%;
    	left: 50%;
    	margin-bottom: 5px;
    	margin-left: -30px;
    	padding: 8px 12px;
    	border-radius: 5px;
    	background-color: @tooltip-background;
    	color: @tooltip-foreground;
    	content: attr(data-tooltip);
    	font-size: 14px;
        white-space: nowrap;
        box-shadow: 0 1px 10px rgba(0,0,0,0.8);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    &:after {
    	position: absolute;
    	bottom: 120%;
    	left: 50%;
    	margin-left: -5px;
    	width: 0;
    	border-top: 5px solid @tooltip-background;
    	border-right: 5px solid transparent;
    	border-left: 5px solid transparent;
    	content: " ";
    	font-size: 0;
    	line-height: 0;
    }

    &:hover:before, &:hover:after {
	    visibility: visible;
	    opacity: 1;
    }
}

.flash {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    span {
        display: inline-block;
        margin: 0 auto;
        box-shadow: 0 0 5px #ccc;
        padding: 8px 20px;
        opacity: 1;
        border-radius: 3px;
    }

    &.info span {
        background-color: #3498db;
    }

    &.success span {
        background-color: #2ecc71;
    }

    &.warning span {
        background-color: #e67e22;
    }

    &.error span {
        background-color: #e74c3c;
    }


    &.ng-hide-add, &.ng-hide-remove {
        display: block ! important;
        transition: all 0.5s ease;
    }

    &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active {
        opacity: 0;
    }

    &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }
}

.spinner {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 30px;
    font-size: 10px;

    .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

    > span {
      background-color: #333;
      height: 100%;
      width: 6px;
      display: inline-block;

      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
    }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#callsign {
    font-weight: bold;
}

#rst-sent, #rst-rcvd {
    width: 4em;
}

#cqz, #ituz {
    width: 4em;
}

#power {
    width: 4em;
}

#gridsquare {
    width: 7em;
}

#comment {
    width: 20em;
    height: 5em;
}

.left {
    float: left;
    width: 70%;
}

.right {
    float: right;
    width: 30%;
}

.green {
    color: #2ecc71;
}

.red {
    color: #e74c3c;
}
